.text-dropdown-toggle {
    color: rgb(0, 98, 255);
    font-weight: bold;
    text-decoration-line: underline;
    display: inline;
}

.dropdown-menu>p {
    margin: 0;
}

.dropdown-item {
    cursor: pointer;
}

#insight-buttons {
    display: flex;
    justify-content: space-evenly;
}

#entity-list {
    max-height: 200px;
    overflow: auto;
}

#prediction-file-list {
    max-height: 100px;
    overflow: auto;
}

#prediction-file-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 7px;
}

#prediction-file-list .form-check-input,
#entity-list .form-check-input {
    margin: 0 !important;
    float: none;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-list {
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.red-border {
    border: 2px solid red;
}

@media screen and (max-width: 768px) {
    .insight-buttons {
        flex-direction: column;
    }
}