.case-header {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.case-info>* {
  margin: 0;
}

.case-info {
  display: flex;
}

.case-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.files,
.notes {
  flex: 1;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
  height: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.notes textarea,
.file-content {
  flex: 1;
  width: 100%;
  border: 1px solid #ccc;
  resize: none;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 5px;
  overflow: auto;
}

.file-list {
  flex: 1;
  overflow: auto;
  padding: 15px;
  list-style: none;
  font-size: 0.9rem;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.insight-list {
  flex: 1;
  overflow-y: auto;
  font-size: 0.9rem;
  gap: 15px;
}

.insight-item {
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  line-height: 1.5;
  padding: 3px;
  border: solid hsl(0, 0%, 73%) 1px;
  border-radius: 5px;
}

.insight-item:hover {
  background-color: #ddd;
  cursor: pointer;
}

.highlight-name {
  background-color: yellow;
}

.highlight-location {
  background-color: lightgreen;
}

.highlight-number {
  background-color: lightpink;
}

.highlight-date {
  background-color: lightblue;
}

.highlight-miscellaneous {
  background-color: lightslategray;
}

.remove-highlight-btn {
  cursor: pointer;
}

.aibox,
.insights,
.file-section {
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .case-header {
    flex-direction: column;
    align-items: normal;
  }

  .main-container {
    flex-direction: column;
  }
}