.case-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.case-info > * {
  margin: 0;
}

.case-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}

.section-container {
  flex: 1;
  border-radius: 5px;
  padding: 20px;
}

.files, .notes {
  flex: 1;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  height: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.notes textarea {
  width: 100%;
  height: 80%;
  border: 1px solid #ccc;
  resize: none;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 5px;
}

.file-list, .insight-list {
  overflow: auto;
  margin: 10px;
  padding: 15px;
  list-style: none;
  font-size: 0.9rem;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  height: 75%;
}

.highlight-name {
  background-color: yellow;
}
.highlight-location {
  background-color: lightgreen;
}
.highlight-contact-number {
  background-color: lightpink;
}
.highlight-date {
  background-color: lightblue;
}
.highlight-miscellaneous {
  background-color: lightslategray;
}

.highlight-name, .highlight-location, .highlight-contact-number, .highlight-date, .highlight-miscellaneous {
  cursor: no-drop;
}

.aibox, .insights {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .case-header {
    flex-direction: column-reverse;
    align-items: normal;
}
  .case-buttons {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}
  .main-container {
    flex-direction: column;
  }
}
  