<div class="aibox">
  <p class="h5 text-decoration-underline text-center">InvestiMate AI</p>
  <div class="mt-2 dropdown d-flex align-items-center justify-content-center">
    <label for="ai-action" class="m-0">The InvestiMate AI will</label>
    <p class="text-dropdown-toggle ms-3" id="aiActionDropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">[Choose Action]</p>
    <span id="infoIcon" data-bs-toggle="tooltip" class="ms-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 1a7 7 0 1 1 0 14A7 7 0 0 1 8 1zm0 1a6 6 0 1 0 0 12A6 6 0 0 0 8 2z" />
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.056.352.176.288.469l-.738 3.468c-.194.91.105 1.319.808 1.319.545 0 .908-.252 1.07-.568.131-.252.172-.568.14-.808l-.287-1.319c-.06-.293.083-.294.36-.176l.467.213c.287.131.468.07.574-.218l.467-1.319c.106-.287.057-.496-.164-.587l-.58-.287c-.105-.07-.147-.105-.115-.176z" />
        <circle cx="8" cy="4.5" r="1" />
      </svg>
    </span>
    <div class="dropdown-menu ai-action-dropdown-items p-0" aria-labelledby="aiActionDropdownMenu">
      <p class="dropdown-item">Hypothesize</p>
      <p class="dropdown-item">Connect</p>
    </div>
  </div>
  <div id="section-prediction" class="container-fluid" hidden>
    <div class="my-3">
      <input type="text" class="form-control" id="aiPredictionText" placeholder="What event do you want to hypothesize?" maxlength="50" />
      <p class="subtext">Note: Enter upto 50 characters.</p>
      <p class="error-text" id="aiPredictionTextError"></p>
      <div class="mt-2">
        <p class="m-0 small">When?</p>
        <div class="form-check form-check-inline">
          <input checked class="form-check-input" type="radio" name="predictionDate" id="predictionWhen1" value="Anytime" />
          <label class="form-check-label small" for="predictionWhen1">Anytime</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="predictionDate" id="predictionWhen2" value="Date" />
          <label class="form-check-label small" for="predictionWhen2">Specific Date</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="predictionDate" id="predictionWhen3" value="Date Range" />
          <label class="form-check-label small" for="predictionWhen3">Date Range</label>
        </div>
        <div class="mt-2" id="predictionDatePicker"></div>
        <p class="error-text" id="aiDatePickerError"></p>
      </div>
      <div class="mt-2">
        <div class="d-flex my-1 justify-content-between align-items-center">
          <p class="m-0 small">Choose files</p>
          <div class="d-flex gap-2">
            <button class="btn btn-sm btn-outline-primary" id="predictionFilesSelectAll">Select All</button>
            <button class="btn btn-sm btn-outline-secondary" id="predictionFilesClearSelection">Clear</button>
          </div>
        </div>
        <ul class="checkbox-list" id="prediction-file-list"></ul>
        <p class="error-text" id="aiPredictionFileError"></p>
      </div>
    </div>
    <button id="aiMakePrediction" class="w-100 btn btn-outline-info">Hypothesize</button>
  </div>
  <div id="section-connection" class="mt-2" hidden>
    <div id="no-entities" hidden>
      <p class="m-0 text-center">
        You need at least <b>two</b> entities (annotated text) to make connection between them.
      </p>
    </div>
    <div id="contain-entities" hidden>
      <p class="error-text" id="aiConnectionTextError"></p>
      <p class="m-0 small">Select the entities between which you want to make connections:</p>
      <div class="my-1 d-flex gap-3 justify-content-end">
        <button class="btn btn-sm btn-outline-primary" id="entitiesSelectAll">Select All</button>
        <button class="btn btn-sm btn-outline-secondary" id="entitiesClearSelection">Clear</button>
      </div>
      <div class="mt-2 px-1 border rounded" id="entity-list"></div>
      <button id="aiMakeConnection" class="btn btn-outline-info w-100 mt-2">Make Connection</button>
    </div>
  </div>
</div>
