<div class="aibox">
  <p class="h5 text-decoration-underline text-center">InvestiMate AI</p>
  <div class="mt-2 dropdown text-center">
    <label for="ai-action">The InvestiMate AI will</label>
    <p class="text-dropdown-toggle" id="aiActionDropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">[Choose Action]</p>
    <div class="dropdown-menu ai-action-dropdown-items" aria-labelledby="aiActionDropdownMenu">
      <p class="dropdown-item">Hypothesize</p>
      <p class="dropdown-item">Connect</p>
    </div>
  </div>
  <div id="section-prediction" class="container-fluid" hidden>
    <div class="my-3">
      <input type="text" class="form-control" id="aiPredictionText" placeholder="What event do you want to hypothesize?" maxlength="30" />
      <p class="subtext">Note: Enter upto 30 characters.</p>
      <p class="error-text" id="aiPredictionTextError"></p>
      <div class="mt-2">
        <p class="m-0 small">When?</p>
        <div class="form-check form-check-inline">
          <input checked class="form-check-input" type="radio" name="predictionDate" id="predictionWhen1" value="Anytime" />
          <label class="form-check-label small" for="predictionWhen1">Anytime</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="predictionDate" id="predictionWhen2" value="Date" />
          <label class="form-check-label small" for="predictionWhen2">Specific Date</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="predictionDate" id="predictionWhen3" value="Date Range" />
          <label class="form-check-label small" for="predictionWhen3">Date Range</label>
        </div>
        <div class="mt-2" id="predictionDatePicker"></div>
        <p class="error-text" id="aiDatePickerError"></p>
      </div>
      <div class="mt-2">
        <div class="d-flex my-1 justify-content-between align-items-center">
          <p class="m-0 small">Choose files</p>
          <div class="d-flex gap-2">
            <button class="btn btn-sm btn-outline-primary" id="predictionFilesSelectAll">Select All</button>
            <button class="btn btn-sm btn-outline-secondary" id="predictionFilesClearSelection">Clear</button>
          </div>
        </div>
        <ul class="checkbox-list" id="prediction-file-list"></ul>
        <p class="error-text" id="aiPredictionFileError"></p>
      </div>
    </div>
    <button id="aiMakePrediction" class="w-100 btn btn-outline-info">Hypothesize</button>
  </div>
  <div id="section-connection" class="mt-2" hidden>
    <div id="no-entities" hidden>
      <p class="m-0 text-center">
        You need at least <b>two</b> entities (annotated text) to make connection between them.
      </p>
    </div>
    <div id="contain-entities" hidden>
      <p class="error-text" id="aiConnectionTextError"></p>
      <p class="m-0 small">Select the entities between which you want to make connections:</p>
      <div class="my-1 d-flex gap-3 justify-content-end">
        <button class="btn btn-sm btn-outline-primary" id="entitiesSelectAll">Select All</button>
        <button class="btn btn-sm btn-outline-secondary" id="entitiesClearSelection">Clear</button>
      </div>
      <div class="mt-2 px-1 border rounded" id="entity-list"></div>
      <button id="aiMakeConnection" class="btn btn-outline-info w-100 mt-2">Make Connection</button>
    </div>
  </div>
</div>
