{% extends 'investimate_app/layout.html' %}
{% load static %}

{% block title %}
  All Cases
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">All Cases</li>
      </ol>
    </nav>
    <div class="container">
      <div id="all-cases" class="allCases"></div>
    </div>
  </div>
{% endblock %}

{% block jsScripts %}
  <script src="{% static 'js/cases.js' %}"></script>
{% endblock %}
