{% extends 'investimate_app/layout.html' %}
{% load static %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <h1>Welcome, {{ request.user.username }}</h1>
    <div class="row justify-content-evenly">
      <div class="col-md-5 recent-cases-container shadow mt-3">
        <h2>Recent Cases</h2>
        <div id="recent-cases" class="recentCases"></div>
      </div>
      <div class="col-md-6">
        <div class="row text-center col-md justify-content-evenly">
          <div class="col-sm-5 mt-3 pt-3 card border-dark shadow" onclick="location.href='{% url 'cases' %}'">
            <!-- CITATION: Image source: https://t4.ftcdn.net/jpg/03/36/04/33/360_F_336043300_JzBoRN1kA82edgOQfLNirY6tS8t1E35O.jpg -->
            <img src="{% static 'images/allCases.jpg' %}" alt="All Cases" class="card-img-top w-100 h-75" />
            <h2>All Cases</h2>
          </div>
          <div class="col-sm-5 mt-3 pt-3 card border-dark shadow" onclick="location.href='{% url 'add-case' %}'">
            <!-- CITATION: Image source: https://www.shutterstock.com/image-vector/new-document-icon-vector-1678449811 -->
            <img src="{% static 'images/newCase.png' %}" alt="New Case" class="card-img-top w-100 h-75" />
            <h2>New Case</h2>
          </div>
        </div>
        <div class="row col-md justify-content-evenly">
          <div class="col-sm-5 mt-3 mt-sm-5 card border-dark shadow p-2">
            <h2>Active Cases: {{ activeCases }}</h2>
          </div>
          <div class="col-sm-5 mt-3 mt-sm-5 card border-dark shadow p-2">
            <h2>Closed Cases: {{ closedCases }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block jsScripts %}
  <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
