{% extends 'investimate_app/layout.html' %}
{% load static %}

{% block title %}
  Insight
{% endblock %}

{% block headReferences %}
  <link rel="stylesheet" href="{% static 'css/insight.css' %}" />
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'cases' %}">All Cases</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'case' case.id %}">{{ case.name }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ insight.id }}. {{ insight.category }}</li>
      </ol>
    </nav>
    <div class="d-sm-flex justify-content-between">
      <div class="case-info">
        <h2>{{ case.name }}</h2>
        <p class="small">{{ case.description }}</p>
      </div>
      <div>
        <form action="{% url 'remove-insight' case.id insight.id %}" method="post">
          {% csrf_token %}
          <button type="submit" onclick="return confirmInsightDelete()" class="btn btn-sm btn-outline-danger w-100">Remove Insight</button>
        </form>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="modal-file-content"></div>
        </div>
      </div>
    </div>

    <div class="main-container">
      <div class="section-container" id="insight-info">
        <p class="h5 font-monospace" id="predictionTitle"></p>
        <p class="h5 font-monospace" id="predictionValue"></p>
        <div id="insightFiles"></div>
      </div>
      <div class="section-container" id="insight-files">
        <div>
          <div class="input-group">
            <input type="text" class="form-control" id="fileSearchText" placeholder="Search among all the files" />
            <button class="btn btn-outline-success" id="fileSearchButton">Search</button>
          </div>
          <p class="subtext">* Case sensitive search that will try to find exact search text matches</p>
          <p class="m-0 error-text" id="fileSearchTextError"></p>
        </div>
        <ul class="file-list" id="file-list"></ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block jsScripts %}
  <script type="module" src="{% static 'js/insight.js' %}"></script>
  <script>
    const confirmInsightDelete = () => {
      return confirm('Are you sure you want to delete this insight?')
    }
  </script>
{% endblock %}
