{% extends 'investimate_app/layout.html' %}
{% block title %}
  New Case
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Add Case</li>
      </ol>
    </nav>
    <div class="container">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
          {{ form.name.label_tag }}
          {{ form.name }}
          <ul class="errorlist">{{ form.name.errors }}</ul>
        </div>
        <div>
          {{ form.description.label_tag }}
          {{ form.description }}
          <ul class="errorlist">{{ form.description.errors }}</ul>
        </div>
        <div>
          {{ form.notes.label_tag }}
          {{ form.notes }}
          <ul class="errorlist">{{ form.notes.errors }}</ul>
        </div>
        <div>
          {{ form.files.label_tag }}
          {{ form.files }}
          <ul class="errorlist">{{ form.files.errors }}</ul>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-outline-primary block">Add New Case</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
