{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      InvestiMate -{% block title %}

      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="left-half">
        <center>
          <h1>Welcome to InvestiMate</h1>
        </center>
        <div class="highlight-container">
          <div class="highlight-cards">
            <h3>Speed Meets Precision</h3>
            <p>Analyze complex cases swiftly and accurately with InvestiMate’s cutting-edge crime-solving technology.</p>
          </div>
          <div class="highlight-cards">
            <h3>Your Case, Simplified</h3>
            <p>Streamline your investigative process—sign up today to unlock a world of efficient case management.</p>
          </div>

          <div class="highlight-cards">
            <h3>Stay Ahead of Crime</h3>
            <p>Utilize our innovative tools to anticipate and address criminal activity before it escalates.</p>
          </div>
          <div class="highlight-cards">
            <h3>Empower Your Investigations</h3>
            <p>Equip yourself with the best resources for effective case analysis and resolution.</p>
          </div>
          <div class="highlight-cards">
            <h3>Join the Future of Crime-Solving</h3>
            <p>Sign up now to experience a revolutionary approach to managing and solving cases.</p>
          </div>
          <div class="highlight-cards">
            <h3>Efficiency at Your Fingertips</h3>
            <p>Access everything you need to crack the case faster, all in one powerful platform.</p>
          </div>
        </div>
      </div>

      <div class="right-half">
        {% block content %}

        {% endblock %}
      </div>
    </div>

    <script>
      document.getElementById('login-btn').addEventListener('click', function () {
        document.getElementById('login-btn').classList.add('active')
        document.getElementById('signup-btn').classList.remove('active')
        window.location.href = "{% url 'login' %}"
      })
      document.getElementById('signup-btn').addEventListener('click', function () {
        document.getElementById('signup-btn').classList.add('active')
        document.getElementById('login-btn').classList.remove('active')
        window.location.href = "{% url 'signup' %}"
      })
    </script>
  </body>
</html>
