{% extends 'accounts/layout.html' %}
{% block title %}
  Signup
{% endblock %}
{% block content %}
  <div class="right-half-container">
    <div class="toggle-container">
      <button id="login-btn" class="toggle-btn">Login</button>
      <button id="signup-btn" class="toggle-btn active">Sign Up</button>
    </div>
    <div id="signup-form" class="form-container">
      <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Signup</button>
      </form>
    </div>
  </div>
{% endblock %}
